@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 min-height: 100vh;
}

body, *, a, p, h1, h2, h3, h4 {
    font-family: "Manrope", sans-serif;
}

.alert-danger {
    background-color: #DC2638;
    color: #fff;
}

.alert-success {
    background-color: #34D399;
    color: #fff;
}

.badge {
    position: absolute;
    bottom: 30px;
    left: 25%;
}

.recorder {
    padding-top: 5vh;
}

.bottom-link {
    padding-top: 5vh;
}